<!DOCTYPE html>
<html>
<head>
  <title>Abhishek Dey Das : <%= current_page.data.title || "Abhishek Dey Das" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "bootstrap" %>
  <%= javascript_include_tag  "all" %>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="alternate" type="application/rss+xml" title="Abhishek Dey Das &raquo; Feed" href="https://blogs.abhis.ws/memoirs_of_a_techie/atom.xml" />
  <!-- Google Analytics start -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-79119599-1', 'auto');
  ga('send', 'pageview');

  </script>
  <!-- End Google Analytics -->
</head>
<body>
<div class="container">

  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>     
    </div>

    <div style="height: 1px;" aria-expanded="false" class="navbar-collapse collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <% data.menu.primenu.each do |f| %>
          <li><a href="<%= f.link %>"><%= f.title %></a></li>
        <% end %>        
      </ul>
    </div>
  </div>
</nav>

  <div class="jumbotron">
    <div align="center"><h2>Abhishek Dey Das : <%= current_page.data.title || "Abhishek Dey Das" %></h2></div>
    <div align="center">
      Email: 
      <script type="text/javascript"> 
          gen_mail_to_link();
      </script>
      <noscript>
          <em>Please enable javascript to see my email address.</em>
      </noscript> <br /> 
      Resume on <a href="https://www.linkedin.com/in/adeydas" target="_blank">LinkedIn</a>
    </div>
  </div>

  <%= yield %>

  <div class="jumbotron">
    <div align="center">&copy; All copyrights reserved. All information on this site are personal opinion and doesn't reflect that of my employer. Powered by <a href="https://middlemanapp.com/">Middleman</a>.</div>
    <div align="center"><a href="http://twitter.com/adeydas">Twitter</a> | <a href="https://www.facebook.com/deydas.abhishek">Facebook</a></div>
  </div>
</div>
</body>
</html>
